.NavbarItems {
    font-size: 1.2rem;
    background-color: #FFAEBC;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    z-index: 2;
  }
  .navbar-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      max-width: 1500px;
      margin-left: 10%;
      font-weight: 700;
    }
  .navbar-logo {
      color:#302f2f;
      justify-self: start;
      left: 60px;
      position: fixed;
      cursor: pointer;
      overflow: hidden;
  }
  .navbar-logo:hover {
      color:#fff;
  }
  
  .nav-menu { 
      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-gap: 10px;
      list-style: none;
      text-align: center;
      width: 70vw;
      justify-content: end;
      margin-right: 2rem;
  }
  
  .nav-links {
      color:#302f2f;
      text-decoration: none;
      padding: .5rem 1rem;
  }
  
  .nav-links:hover {
      color: #fff;
      transition: all .2s ease-out;
  }
  
  .fa-bars {
      color:#302f2f;
      /* position: relative;
      right: 45px; */
  }
  
  .menu-icon {
      display: none;
  }
  
  @media screen and (max-width: 960px) {
      .NavbarItems {
          position: relative;
      }
  
      .nav-menu {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 500px;
          position: absolute;
          top: 80px;
          left: -100%;
          opacity: 1;
          transition: all o.5s ease;
      }
  
      .nav-menu.active {
          background: #fff;
          left: 0;
          opacity: 1;
          transition: all 0.3s ease 0s;
          z-index: 1;
      }
  
      .nav-links {
          text-align: center;
          padding: 1.5rem;
          width: 100%;
          display: table;
      }
  
      .nav-links:hover {
          background-color: #2b2a2b;
          color: #FFAEBC;
      }
  
      .menu-icon {
          display: block;
          position: absolute;
          top: 0;
          right: 1em;
          transform: translate(-1%, 60% );
          font-size: 1.8rem;
          cursor: pointer ;
      }
  
      .fa-times {
          color:#302f2f;
          font-size: 2rem;
      }
  }